@import 'styles/variaveis';

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    &__imagem {
        width: 40%;
    }
}

@media screen and (max-width:1024px) {
    .rodape {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        &__imagem {
            width: 20%;
        }
    }
}