$azul-claro:#4B69FD;
$azul-escuro:#0b1026;
$laranja:#FE652B;
$creme:#FFF9EB;
$cinza:#C4C4C4;
$cinza-azulado:#272a38;
$cinza-escuro:rgba(68, 68, 68, 1);
$preto-transparente:rgba(0, 0, 0, 0.3);
$preto-transparente-mais-claro:rgba(0, 0, 0, 0.1);
$fonte-principal:'Poppins', sans-serif;
$vermelho:#ff0000;
$vermelho-claro:#fd4242;